img{
  width: 100%;
}
.row{
  margin-left: 0px!important;
  margin-right: 0px!important;
}
#overview{
  position: absolute;
  background-color: white;
  top: 0px;
  max-height: 100%;
  color: black;
  overflow-x: auto;
  width: 87%;
  visibility: hidden;
}
#overview:hover{
  display: block;
}
